.clock .distance .btn-group {
    height: 25px;
    border-color: #000;
    border-width:1px;
}
#AreaInfo {
        height: 50px;
}


#AreaInfo {
        height: 50px;
}

#start-pause stop-reset {
    
}