.panel-account {
    position: relative;
    margin: 5px 5px 5px 5px;
    background: #fff;
}

.panel-account-text {
    position: absolute;
    top: 0px;
    left: 70px;
    white-space: nowrap;
}

.panel-account-text input {
    width: 220px;
    height: 35px;
}

.list__item__line-height {
    line-height: 50px;
}

.list-item-title {
    position: absolute;
    bottom: 28px;
    line-height: 20px;
}
.list__item--tappable {
    min-height: 60px;
}

.list-item-comment {
    position: absolute;
    left: 20px;
    bottom: 8px;
    line-height: 12px;
    font-size: 12px;
    opacity: 0.4;
}

.list-item-action {
    position: absolute;
    right: 28px;
    bottom: 17px;
    line-height: 26px;
    opacity: 0.4;
}

.list__item a {
    position: relative;
    height: 100%;
    display: block;
    text-decoration: none;
}

.tracked-runs {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

.button {
    width: 49%;
}

.timer {
    background: #d54136;
    padding: 4px;
    height: 64px;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #fff;
}

.timer h1 {
    font-size: 30px;
    color: #fff;
    display: inline;
}
.timer p {
    display: inline;
    color: #A81307;
}

.timer-text {
  display: inline-block;
  padding: 7px;
  line-height: 35px;
}


.vertical-line{
    width: 1px;
    background-color: #A81307;
    height: 39px;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

.km-container {     
    margin: 4px;
}

.km-container .box {
    height: 140px;
    padding-top: 6px;
    margin-bottom: 4px;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin: 0 auto;
}

.km-headline {
    line-height: 10px;
    padding-top: 19px;
}

.km-headline h1, .km-headline p {
    display: inline;
    line-height: 35px;
}

.km-headline h1 {
    font-size: 60px;
    padding-left: 100px;
}

.km-headline p {
    margin: 0;
    padding-left: 5px;
}

.km-headline p {
    padding: 0;
}

.km-headline .secondary {
    margin: 0px 2px 0px 2px;
    color: #375D81;
    font-weight:700;
}

.area-name {
    padding-left: 10px;
    position:relative;
    margin-bottom: 10px;
}
.area-name p, .area-name i {
    display: inline;
    font-size: 16px;
}
.time-text p, .time-text i {
    display: inline;
    font-size: 14px;
}

.custom-icon {
  color : #375D81;
}

#stop-reset {
    text-transform:uppercase;
    font: 30px "Helvetica-neue";
}

#start-pause {
    text-transform:uppercase;
    font: 30px "Helvetica-neue";
}


