.content {
    padding: 10px 0 0 10px; 
    background-color: #f6f2f2;
}

.display {
    margin: 10px 10px 10px 10px;
    background-color:#fff;
    height: 50px;
}
.display_full {
    margin: 10px 10px 10px 10px;
    background-color:#fff;
    height: 50px;
}
#gps_accuracy {
    margin: 10px 10px 10px 10px;
}
.display_btn {
    margin: 10px 10px 10px 10px;
    height: 50px;
}