<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.devapss.runopoly"
        versionCode = "10" 
        version   = "1.0.0">

    <name>Runopoly</name>
    <description>
        Run to win territory in your neighborhood 
    </description>
      
  <!-- CONTENT -->
    <content src="index.html" />

	<!--   PHONEGAP PREFERENCES  -->
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="Fullscreen" value="true" />
    <preference name="WebViewBounce" value="true" />
    <preference name="load-url-timeout" value="50000" />


    <!--   PHONEGAP FEATURES    -->
  <gap:plugin name="org.apache.cordova.core.geolocation" />
  <gap:plugin name="org.apache.cordova.core.Notification" />
  <gap:plugin name="org.apache.cordova.core.file" />
  
    <!--   ACCESS     -->
    
    <access origin="*" />

</widget>