<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devapps.runopoly" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Runopoly</name>
  <description> Run to win territory in your neighborhood</description>  
  <content src="index.html"/>
 
  <!-- PHONEGAP PREFERENCES -->
  <preference name="permissions" value="none" />
  <preference value="3.1.0" name="phonegap-version"/>
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="handset" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="true" />
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference value="50000" name="load-url-timeout"/>

  <!-- PHONEGAP FEATURES -->
  <gap:plugin name="org.apache.cordova.core.geolocation"/>
  <gap:plugin name="org.apache.cordova.core.file"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <!-- ACCESS -->
  <access origin="*" />
</widget>
