<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devapps.runopoly" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Runopoly</name>
  <description> Run to win territory in your neighborhood</description>  
  <content src="index.html"/>
 
  <!-- PHONEGAP PREFERENCES -->
  <preference name="phonegap-version" value="3.1.0" />
  <preference name="target-device" value="handset" />
  <preference name="prerendered-icon" value="true" />
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="fullscreen" value="true" />
  <preference name="webviewbounce" value="true" />
  <preference name="orientation" value="portrait" />

  <!-- SPLASH and ICONS -->
  <gap:splash src="img/SplashScreen.png" gap:platform="ios" width="320" height="480" />
  <icon src="img/icon.png" gap:platform="ios" width="57" height="57" />
 
  <!-- PLATFORMS -->
  <gap:platform name="ios" />
  
  <!-- FEATURES -->
  <feature name="http://api.phonegap.com/1.0/device"/>
  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
  </feature>
  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection" />
  </feature>
  <!--
  <feature name="File">
    <param name="ios-package" value="CDVFile" />
  </feature>
  <feature name="FileTransfer">
    <param name="ios-package" value="CDVFileTransfer" />
  </feature>
  <feature name="Notification">
    <param name="ios-package" value="CDVNotification" />
  </feature>
  -->
  
  <!-- PHONEGAP FEATURES -->
  <!--
  <gap:plugin name="org.apache.cordova.device"/>
  -->
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <!--
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.file-transfer" /> 
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.console" />-->
  -->
  <!-- ACCESS -->
  <access origin="*" />
</widget>
